<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/bfd4aa8e-d6da-44b2-b03a-af109610440e/resourceGroups/DefaultResourceGroup-WUS/providers/Microsoft.Web/sites/Tony-ExpenseTracker</ResourceId>
    <ResourceGroup>DefaultResourceGroup-WUS</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://tony-expensetracker.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://tony-expensetracker.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$Tony-ExpenseTracker</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>